<div class="form-group">
    <div class="row h-100">
        <div class="col-4">
            <input type="submit" value=@Model.name class="form-btn" />
        </div>
        <div class="col-4">
        </div>
        <div class="col-4 my-auto">
            <a asp-page="Index" style="color: #00131a; ">
                <i class="fas fa-arrow-alt-circle-left"></i> <span>Back to List</span>
            </a>
        </div>
    </div>
</div>