<div class="container-fluid">

<div class="row ">
    <div class="col-12">
        <!-- Section Heading -->
        <div class="crud-heading text-center">
            @if (!string.IsNullOrEmpty(Model.name))
            {
            <h2>@Model.name</h2>
            }
            @if (!string.IsNullOrEmpty(Model.description))
            {
                <p>@Model.description</p>
            }
            </div>
    </div>
  
</div>
</div>
