
<footer id="footer" class="border-top footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-4 text-center">MM @@ 2020</div>
            <div class="col-md-2 col-sm-4 col-4 text-center">Privacy & Legal</div>
            <div class="col-md-2 col-sm-4 col-4 text-center">Locations</div>
            <div class="col-md-2 col-sm-4 col-4 text-center">Contact Us</div>
            <div class="col-md-2 col-sm-4 col-4 text-center">Locations</div>
            <div class="col-md-2 col-sm-4 col-4 text-center">Contact Us</div>
        </div>
    </div>
</footer>