<!DOCTYPE html>
@{
    Layout = "_Layout.cshtml";
}
@inject Tenant tenant;

@*<div class="sidebar">
        <a href="/Client/Titles"><i class="fas fa-desktop"></i><span>Titles</span></a>
        <a href="/Client/memberStatus"><i class="fas fa-desktop"></i><span>Member Status</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Account</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Members</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>Invoices</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Events</span></a>
    </div>*@
@{ 
    string ss=string.Empty;
}

<!-- NavBar END -->
<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded border-right d-none d-md-block shadow-sm">

        @*<a href="#"
           data-toggle="sidebar-colapse"
           class="bg-white list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon"
                      class="fa fa-2x mr-3 fa-angle-double-left"></span>
                <span id="collapse-text" class="menu-collapsed">
                @if (tenant!=null)
                {
                     ss=tenant.ClientName;
                }
                @ss
                </span>
            </div>
        </a>*@

        <a href="#"
           data-toggle="sidebar-colapse"
           class="bg-white list-group-item list-group-item-action d-flex align-items-center">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span id="collapse-icon" 
                      class="fa fa-1x mr-3 fa-angle-double-left"></span>
                <span id="collapse-text" class="menu-collapsed">Collapse</span>
            </div>
        </a>
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>MAIN MENU</small>
            </li>
            <!-- /END Separator -->
            <!-- Menu with submenu -->


            <a href="#submenu1"
               data-toggle="collapse"
               aria-expanded="false"
               class="bg-white list-group-item list-group-item-action flex-column align-items-start collapsed">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-cogs fa-fw mr-3"></span>
                    <span class="menu-collapsed">Set Up</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->

            <div id="submenu1" class="collapse sidebar-submenu">

                <a href="/Client/ContactUs"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Contact Us</span>
                </a>

                <a href="/Client/memberuser"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Members</span>
                </a>

                <a href="/Client/memberbankingdetail"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Banking Detail</span>
                </a>

                <a href="/Client/bankingdetail"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Banking Detail</span>
                </a>

                <a href="/Client/event"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Events</span>
                </a>

                <a href="/Client/cpdmembertypesetup"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">CPD Setup - Member Type</span>
                </a>

                <a href="/Client/cpdmemberteamsetup"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">CPD Setup - Member Team</span>
                </a>

                <a href="/Client/cpdmemberlevelsetup"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">CPD Setup - Member Level</span>
                </a>

                <a href="/Client/cpdmembercategorysetup"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">CPD Setup - Member Category</span>
                </a>

                <a href="/Client/eventminute"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Event Minute</span>
                </a>

                <a href="/Client/eventequipment"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Event Equipments</span>
                </a>

                <a href="/Client/eventcost"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Event Cost</span>
                </a>

                <a href="/Client/eventcostitem"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Event Cost Item</span>
                </a>

                <a href="/Client/invoicesetting"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Invoice Settings</span>
                </a>

                <a href="/Client/promotionmaster"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Promotion Master</span>
                </a>

                <a href="/Client/promotiondetail"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Promotion Details</span>
                </a>

                <a href="/Client/promotionresponse"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Promotion Response</span>
                </a>

                <a href="/Client/tax"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Tax</span>
                </a>

                <a href="/Client/memberstatus"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Status</span>
                </a>

                <a href="/Client/memberlevel"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Levels</span>
                </a>

                <a href="/Client/membercategory"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Category</span>
                </a>

                <a href="/Client/membertype"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Type</span>
                </a>

                <a href="/Client/memberteam"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Team</span>
                </a>

                <a href="/Client/memberbranch"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Member Branch</span>
                </a>

                <a href="/Client/qualification"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Qualification</span>
                </a>

                <a href="/Client/marketinggroup"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Marketing Group</span>
                </a>

                <a href="/Client/marketingProfile"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Marketing Profile</span>
                </a>

                <a href="/Client/affliation"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Affliations</span>
                </a>

                <a href="/Client/eventrole"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Event Role</span>
                </a>

                <a href="/Client/emailType"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Email Types</span>
                </a>

                <a href="/Client/emailtemplatename"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Email Template Name</span>
                </a>

                <a href="/Client/emailtemplatecontent"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Email Template Content</span>
                </a>

                <a href="/Client/equipment"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Equipments</span>
                </a>

                <a href="/Client/titles"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Titles</span>
                </a>

                <a href="/Client/clientorg"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Client Organization</span>
                </a>

                <a href="/Client/planmaster"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Plan Master</span>
                </a>

                <a href="/Client/planfrequency"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Plan Frequency</span>
                </a>

                <a href="/Client/plandetail"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Plan Detail</span>
                </a>

                <a href="/Client/paymentcard"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Payment Card</span>
                </a>

                <a href="/Client/organization"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Organization</span>
                </a>

                <a href="/Client/equipmentcount"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Equipment Count</span>
                </a>

                <a href="/Client/relatedTo"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Related To</span>
                </a>

                <a href="/Client/taxpolicy"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Tax Policy</span>
                </a>

                <a href="/Client/taxscope"
                   class="list-group-item list-group-item-action bg-whitetext-dark">
                    <span class="menu-collapsed">Tax Scope</span>
                </a>

            </div>
            <a href="#submenu2"
               data-toggle="collapse"
               aria-expanded="false"
               class="bg-white list-group-item list-group-item-action flex-column align-items-start collapsed">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="menu-collapsed">Profile</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id="submenu2" class="collapse sidebar-submenu">
                <a href="~/Client/Account/Manage/Index"
                   id="profile"
                   class="list-group-item list-group-item-action bg-white text-dark">
                    <span class="menu-collapsed">View Profile</span>
                </a>
                <a href="~/Client/Account/Manage/email"
                   id="email"
                   class="list-group-item list-group-item-action bg-white text-dark">
                    <span class="menu-collapsed">Change Email</span>
                </a>
                <a href="~/Client/Account/Manage/ChangePassword"
                   id="change-password"
                   class="list-group-item list-group-item-action bg-white text-dark">
                    <span class="menu-collapsed">Change Password</span>
                </a>
            </div>


            <a href="#" class="bg-white list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tasks fa-fw mr-3"></span>
                    <span class="menu-collapsed">Tasks</span>
                </div>
            </a>
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>OPTIONS</small>
            </li>
            <!-- /END Separator -->
            <a href="#" class="bg-white list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-calendar fa-fw mr-3"></span>
                    <span class="menu-collapsed">Calendar</span>
                </div>
            </a>
            <a href="#" class="bg-white list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-envelope-o fa-fw mr-3"></span>
                    <span class="menu-collapsed">
                        Messages
                        <span class="badge badge-pill badge-primary ml-2">5</span>
                    </span>
                </div>
            </a>
            <!-- Separator without title -->
            <li class="list-group-item sidebar-separator menu-collapsed"></li>
            <!-- /END Separator -->
            <a href="#" class="bg-white list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-question fa-fw mr-3"></span>
                    <span class="menu-collapsed">Help</span>
                </div>
            </a>


        </ul>
        <!-- List Group END-->
    </div>
    <!-- sidebar-container END -->
    <!-- MAIN -->
    <div class="col">
        @RenderBody()
    </div>
    <!-- Main Col END -->
</div>
<!-- body-row END -->
