
@*<nav class="navbar navbar-light navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a href="/" class="navbar-brand">
        <img src="~/images/logo.jpg"
             width="30"
             height="30"
             class="d-inline-block align-top"
             alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <div>
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="/Client/Titles"><span>TITLES</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Client/memberStatus"><span>MEMBER STATUS</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">PRICING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">EXAMPLES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FEATURES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">TESTIMONIALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/client/login">SIGN IN </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/client/register">REGISTER </a>
            </li>
        </ul>
    </div>
</nav>*@



<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">
            <img src="~/images/logo.jpg"
                 width="30"
                 height="30"
                 class="d-inline-block align-top"
                 alt="" />
        </a>
        <div class="collapse navbar-collapse  w-100" id="navbarNavDropdown">
            <ul class="navbar-nav w-85 ml-auto justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">PRICING</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">EXAMPLES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FEATURES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TESTIMONIALS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>


                <!-- This menu is hidden in bigger devices with d-sm-none.
        The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="smallerscreenmenu"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Tasks</a>
                        <a class="dropdown-item" href="#">Etc ...</a>
                    </div>
                </li>
                <!-- Smaller devices menu END -->
            </ul>
            <partial name="_LoginPartial" />
       
        </div>
    </nav>


