@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<!--  Login Content  -->

<div class="login-container">
    <div class="card login-card shadow-sm">
        <div class="card-header">
            <span>
               Reset Password
            </span>
        </div>
        <div class="card-body">
            <form method="post" class="pt-4">
                <div class="form-group  mb-4">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control form-input mb-2" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="text-center pt-3 mb-5">
                    <button type="submit" class="form-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
