@page
@model BankingDetailModel

@using MM.ClientModels;
@using MM.Helper;
@{
    ViewData["Title"] = "Banking Detail";
}
@{ Layout = "_LayoutClient";}

<!-- #region AddEditModalSection -->

<div class="modal fade" style="min-width:500px" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="AddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="AddEditForm" onsubmit="return Save(this)">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddEditModalLabel">Add New Banking Detail</h5>
                    <button type="button" class="btn btn-outline-info close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="reg-container row">
                        <div class="col-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" id="id" asp-for="BankingDetail.Id" />

                            <div class="form-group mb-4">
                                <label asp-for=BankingDetail.AccountName class="control-label"></label>
                                <input asp-for=BankingDetail.AccountName type="text" class="form-control form-input" placeholder="Enter Account Name" id="accountName">
                                <span asp-validation-for=BankingDetail.AccountName class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=BankingDetail.AccountNumber class="control-label"></label>
                                <input asp-for=BankingDetail.AccountNumber type="text" class="form-control form-input" placeholder="Bank Account Number" id="accountNumber">
                                <span asp-validation-for=BankingDetail.AccountNumber class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=BankingDetail.BankName class="control-label"></label>
                                <input asp-for=BankingDetail.BankName type="text" class="form-control form-input" placeholder="Name of the Bank" id="bankName">
                                <span asp-validation-for=BankingDetail.BankName class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=BankingDetail.BranchName class="control-label"></label>
                                <input asp-for=BankingDetail.BranchName type="text" class="form-control form-input" placeholder="Name of the Branch" id="branchName">
                                <span asp-validation-for=BankingDetail.BranchName class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=BankingDetail.AccountTypeId class="control-label"></label>
                                <select class="form-control form-input" id="accountTypeId" asp-for=BankingDetail.AccountTypeId
                                        asp-items=Model.AccountTypes>
                                    <option disabled selected value="-1">--- Please select Account Type ---</option>
                                </select>
                                <span asp-validation-for=BankingDetail.AccountTypeId class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=BankingDetail.RoutingCode class="control-label"></label>
                                <input asp-for=BankingDetail.RoutingCode type="text" class="form-control form-input" placeholder="Bank Account Routing Code" id="routingCode">
                                <span asp-validation-for=BankingDetail.RoutingCode class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-3 text-right">
                            <input type="submit" value="Add" class="btn btn-outline-success" id="modal-create-edit" />
                        </div>
                        <div class="col-2  text-right ">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- #endregion AddEditModalSection-->


<!-- #region DeleteModalRegion -->

<div class="modal" style="min-width:500px" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered   modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="DeleteForm" onsubmit="return Delete()">

                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteModalLabel">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="reg-container row">
                        <div class="col-12">
                            <input type="hidden" id="id_Del" />
                            <dl class="row">
                                 <dt class="col-sm-3">
                                    <label asp-for=BankingDetail.AccountName class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="accountName_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=BankingDetail.AccountNumber class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="accountNumber_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=BankingDetail.BankName class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="bankName_Del"></label>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-3 text-right">
                            <input type="submit" value="Delete" class="btn btn-outline-danger" />
                        </div>
                        <div class="col-2  text-right ">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- #endregion DeleteModalRegion -->
<!-- #region ToholdGrid -->

<partial name="_CRUDHeader" , model='new Header{name="Manage Banking Details", description="Here you can manage banking details of your members"}'>
    <div class="container">
        <div class="reg-container row">
            <!--  Personal -->
            <div class="col-12">
                <div class="card shadow-sm">
                    <partial name="_CardHeaderPartial" , model='new Header{name="Banking Detail"}'>
                        <div class="card-body reg-card-body">
                            <div class="row">
                                <div class="col-3 text-left pb-3">
                                    <input value="Add New" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#AddEditModal" onclick="SetUpPopupToAddRecord()">
                                </div>
                                <div class="col-9 text-left pb-3">
                                </div>
                            </div>
                            <table id="list" class="table" style="width:100%">
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!-- #endregion ToholdGrid-->

    <script>

        var dataTable;

        $(document).ready(function () {


            $('#list').show();
            dataTable = $('#list').DataTable({
                fixedHeader: true,
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                }
                //,"initComplete": function (settings, json) {
                //    console.log(json);
                //}
                ,
                "columns": [
                    { title: "Account Name", data: "accountName", "autoWidth": true, },
                    { title: "Account Number", data: "accountNumber", "autoWidth": true, },
                    { title: "Account Type", data: "accountTypeName", "autoWidth": true, },
                    { title: "Bank Name", data: "bankName", "autoWidth": true, },
                    { title: "Branch Name", data: "branchName", "autoWidth": true, },
                    {
                        title: "Action",
                        data: "id",
                        "render": function (data, type, row, meta) {
                            {
                                return '<a class="btn btn-outline-primary btn-sm mr-3" href="#" data-toggle="modal" data-target="#AddEditModal" onClick="SetUpPopupToEditRecord(' + row.id + ')" ><i class="fas fa-edit mr-10"></i>&nbsp;Edit</a>&nbsp;' +
                                    '<a class="btn btn-outline-danger btn-sm" href="#" data-toggle="modal"  data-target="#DeleteModal" onClick="SetUpPopupToDeleteRecord(' + '\'' + row.id + ';' + row.bankName + ';' + row.accountName + ';' + row.accountNumber + '\'' + ')" ><i class="fas fa-trash mr-10"></i>&nbsp;Delete</a> ';
                            }
                        },
                        orderable: false,
                        width: "150px"
                    }
                ]
            });

        });

        function SetUpPopupToAddRecord() {
            $('#AddEditModalLabel').text("Add New Banking Detail");
            $('#modal-create-edit').val("Add")
            $('#id').val(0);
            $('#accountName').val("");
            $('#accountNumber').val("");
            $('#bankName').val("");
            $('#branchName').val("");
            $('#accountTypeId').val('-1').change();
            //$("accountTypeId").prop('selectedIndex', 0);
        }

        function SetUpPopupToEditRecord(id) {
            $('#AddEditModalLabel').text("Edit Banking Detail")
            $('#modal-create-edit').val("Update")
            $.ajax({
                url: '?handler=SelectedRecord&id=' + id,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    $('#id').val(data.id);
                    $('#accountName').val(data.accountName);
                    $('#accountNumber').val(data.accountNumber);
                    $('#bankName').val(data.bankName);
                    $('#branchName').val(data.branchName);
                    $('#accountTypeId').val(data.accountTypeId);
                    $('#routingCode').val(data.routingCode);

                }
            });
        }

        function SetUpPopupToDeleteRecord(data) {
            var dataarray = data.split(";")
            $('#id_Del').val(dataarray[0]);
            $('#bankName_Del').text(dataarray[1]);
            $('#accountName_Del').text(dataarray[2]);
            $('#accountNumber_Del').text(dataarray[3]);
        }

        $('#AddEditModal').on('shown.bs.modal', function () {
            setTimeout(function () {
                $('#accountName').focus();
            }, 400);
        })

        function Delete() {
            var id = $('#id_Del').val();
            $.ajax({
                url: '?handler=Delete&id=' + id,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    $('#DeleteModal').modal('hide');
                    dataTable.ajax.reload();
                    if (data.success) {
                        MMNotify(data.message, "success");
                    }
                    else {
                        MMNotify(data.message, "danger");
                    }
                }
            });
            return false;
        }

        function Save(form) {
            if ($(form).valid()) {
                $.post({
                    url: '?handler=Save',
                    dataType: 'json',
                    data: $(form).serialize(),
                })
                    .done(function (data) {
                        $('#AddEditModal').modal('hide');
                        $('#id').val("");
                        $('#accountName').val("");
                        $('#accountNumber').val("");
                        $('#bankName').val("");
                        $('#branchName').val("");
                        $('#accountTypeId').val("");
                        $('#routingCode').val("");
                        if (data.success) {
                            MMNotify(data.message, "success");
                        }
                        else {
                            $('#AddEditModal').modal('hide');
                            MMNotify(data.message, "danger");
                        }
                        dataTable.ajax.reload();
                    })
                    .fail(function (error) {
                        MMNotify("Unknown error", "danger");
                    });
            }
            return false;
        }

    </script>


