@page
@model MM.Pages.Client.CpdmemberTeamSetUpModel

@using MM.ClientModels;
@using MM.Helper;
@{
    ViewData["Title"] = "Member Team - CPD SetUp";
}
@{ Layout = "_LayoutClient";}

<!-- #region AddEditModalSection -->

<div class="modal fade" style="min-width:500px" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="AddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="AddEditForm" onsubmit="return Save(this)">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddEditModalLabel">Add New Member Team - CPD SetUp</h5>
                    <button type="button" class="btn btn-outline-info close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="reg-container row">
                        <div class="col-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" id="id" asp-for="CpdmemberTeamSetUp.Id" />


                            <div class="form-group mb-4">
                                <label asp-for=CpdmemberTeamSetUp.MemberTeam.Id class="control-label">Member Team</label>
                                <select class="form-control form-input" id="teamId" asp-for=CpdmemberTeamSetUp.MemberTeam.Id
                                        asp-items=Model.MemberTeams>
                                    <option disabled selected value="-1">Please select Member Team</option>
                                </select>
                                <span asp-validation-for=CpdmemberTeamSetUp.MemberTeam.Id class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=CpdmemberTeamSetUp.RelatedTo.Id class="control-label">Related To</label>
                                <select class="form-control form-input" id="relatedId" asp-for=CpdmemberTeamSetUp.RelatedTo.Id
                                        asp-items=Model.RelatedTos>
                                    <option disabled selected value="-1">Please select Related To</option>
                                </select>
                                <span asp-validation-for=CpdmemberTeamSetUp.RelatedTo.Id class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=CpdmemberTeamSetUp.RelatedRecordId class="control-label">Related Record</label>
                                <input asp-for=CpdmemberTeamSetUp.RelatedRecordId type="number" class="form-control form-input" id="recordId">
                                <span asp-validation-for=CpdmemberTeamSetUp.RelatedRecordId class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=CpdmemberTeamSetUp.Cpdcount class="control-label">CPD Count</label>
                                <input asp-for=CpdmemberTeamSetUp.Cpdcount type="number" class="form-control form-input" id="cpdCount">
                                <span asp-validation-for=CpdmemberTeamSetUp.Cpdcount class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-3 text-right">
                            <input type="submit" value="Add" class="btn btn-outline-success" id="modal-create-edit" />
                        </div>
                        <div class="col-2  text-right ">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- #endregion AddEditModalSection-->


<!-- #region DeleteModalRegion -->

<div class="modal" style="min-width:500px" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered   modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="DeleteForm" onsubmit="return Delete()">

                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteModalLabel">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="reg-container row">
                        <div class="col-12">
                            <input type="hidden" id="id_Del" />
                            <dl class="row">
                                <dt class="col-sm-3">
                                    <label asp-for=CpdmemberTeamSetUp.MemberTeam.Name class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="team_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=CpdmemberTeamSetUp.RelatedTo.Name class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="related_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=CpdmemberTeamSetUp.RelatedRecordId class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="record_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=CpdmemberTeamSetUp.Cpdcount class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="count_Del"></label>
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-3 text-right">
                            <input type="submit" value="Delete" class="btn btn-outline-danger" />
                        </div>
                        <div class="col-2  text-right ">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- #endregion DeleteModalRegion -->
<!-- #region ToholdGrid -->

<partial name="_CRUDHeader" , model='new Header{name="Manage CPD Setup - Member Team", description="Here you can manage CPD Setup for Member Team  of your organization"}'>
    <div class="container">
        <div class="reg-container row">
            <!--  Personal -->
            <div class="col-12">
                <div class="card shadow-sm">
                    <partial name="_CardHeaderPartial" , model='new Header{name="CPD SetUp - Member Team"}'>
                        <div class="card-body reg-card-body">
                            <div class="row">
                                <div class="col-3 text-left pb-3">
                                    <input value="Add New" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#AddEditModal" onclick="SetUpPopupToAddRecord()">
                                </div>
                                <div class="col-9 text-left pb-3">
                                </div>
                            </div>
                            <table id="list" class="table" style="width:100%">
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!-- #endregion ToholdGrid-->

    <script>

        var dataTable;

        $(document).ready(function () {


            $('#list').show();
            dataTable = $('#list').DataTable({
                fixedHeader: true,
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                "initComplete": function (settings, json) {
                    console.log(json);
                },
                 "initComplete": function (settings, json) {
                    console.log(json);
                },
                
                "columns": [
                    { title: "Member Team", data: "memberTeamName", "autoWidth": true, },
                    { title: "Related To", data: "relatedToName", "autoWidth": true, },
                    { title: "Related Record ID", data: "relatedrecordId", "autoWidth": true, },
                    { title: "CPD Count", data: "cpdCount", "autoWidth": true, },
                    
                    
                    {
                        title: "Action",
                        data: "id",
                        "render": function (data, type, row, meta) {
                            {
                                return '<a class="btn btn-outline-primary btn-sm mr-3" href="#" data-toggle="modal" data-target="#AddEditModal" onClick="SetUpPopupToEditRecord(' + row.id + ')" ><i class="fas fa-edit mr-10"></i>&nbsp;Edit</a>&nbsp;' +
                                    '<a class="btn btn-outline-danger btn-sm" href="#" data-toggle="modal"  data-target="#DeleteModal" onClick="SetUpPopupToDeleteRecord(' + '\'' + row.id + ';' + row.memberTeamName + ';' + row.relatedToId + ';' + row.recordId + row.cpdCount + '\'' + ')" ><i class="fas fa-trash mr-10"></i>&nbsp;Delete</a> ';
                            }
                        },
                        orderable: false,
                        width: "150px"
                    }
                ]
            });

        });

        function SetUpPopupToAddRecord() {
            $('#AddEditModalLabel').text("Add New CPD Setup - Member Team");
            $('#modal-create-edit').val("Add")
            $('#id').val(0);
            $('#teamId').val('-1').change();
            $('#relatedId').val('-1').change();
            $('#recordId').val("")();
            $('#cpdCount').val("")();
            
            //$("acrecordIdTypeId").prop('selectedIndex', 0);
        }

        function SetUpPopupToEditRecord(id) {
            $('#AddEditModalLabel').text("Edit CPD SetUp - Member Team")
            $('#modal-create-edit').val("Update")
            $.ajax({
                url: '?handler=SelectedRecord&id=' + id,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    //console.log(data);
                    $('#id').val(data.id);
                    $('#teamId').val(data.memberTeamId);
                    $('#relatedId').val(data.relatedToId);
                    $('#recordId').val(data.relatedrecordId);
                    $('#cpdCount').val(data.cpdCount);
                    
                    

                }
            });
        }

        function SetUpPopupToDeleteRecord(data) {
            var dataarray = data.split(";")
            $('#id_Del').val(dataarray[0]);
            $('#team_Del').text(dataarray[1]);
            $('#related_Del').text(dataarray[2]);
            $('#record_Del').text(dataarray[3]);
            $('#count_Del').text(dataarray[3]);
            
        }

        $('#AddEditModal').on('shown.bs.modal', function () {
            setTimeout(function () {
                $('#teamName').focus();
            }, 400);
        })

        function Delete() {
            var id = $('#id_Del').val();
            $.ajax({
                url: '?handler=Delete&id=' + id,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    $('#DeleteModal').modal('hide');
                    dataTable.ajax.reload();
                    if (data.success) {
                        MMNotify(data.message, "success");
                    }
                    else {
                        MMNotify(data.message, "danger");
                    }
                }
            });
            return false;
        }

        function Save(form) {
            if ($(form).valid()) {
                $.post({
                    url: '?handler=Save',
                    dataType: 'json',
                    data: $(form).serialize(),
                })
                    .done(function (data) {
                        $('#AddEditModal').modal('hide');
                        $('#id').val("");
                        $('#teamId').val("");
                        $('#relatedId').val("");
                        $('#recordId').val("");
                        $('#cpdCount').val("");
                        
                        if (data.success) {
                            MMNotify(data.message, "success");
                        }
                        else {
                            $('#AddEditModal').modal('hide');
                            MMNotify(data.message, "danger");
                        }
                        dataTable.ajax.reload();
                    })
                    .fail(function (error) {
                        MMNotify("Unknown error", "danger");
                    });
            }
            return false;
        }

    </script>


