@page
@model MM.Pages.Client.EventModel

@using MM.ClientModels;
@using MM.Helper;
@{
    ViewData["Title"] = "Event";
}
@{ Layout = "_LayoutClient";}



<!-- #region AddEditModalSection -->

<div class="modal fade" style="min-width:500px" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="AddEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="AddEditForm" onsubmit="return Save(this)">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddEditModalLabel">Add New Event</h5>
                    <button type="button" class="btn btn-outline-info close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="reg-container row">
                        <div class="col-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" id="id" asp-for="Event.Id" />

                            <div class="form-group mb-4">
                                <label asp-for=Event.EventUniqueName class="control-label">Event Unique Name</label>
                                <input asp-for=Event.EventUniqueName type="text" class="form-control form-input" id="name">
                                <span asp-validation-for=Event.EventUniqueName class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.Title class="control-label">Event Title</label>
                                <input asp-for=Event.Title type="text" class="form-control form-input" id="title">
                                <span asp-validation-for=Event.Title class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.Description class="control-label">Event Description</label>
                                <textarea asp-for=Event.Description type="text" class="form-control form-input rounded" id="description" rows="5"> </textarea>
                                <span asp-validation-for=Event.Description class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.Organizer.Id class="control-label">Event Organizer</label>
                                <select class="form-control form-input" id="organizer" asp-for=Event.Organizer.Id
                                        asp-items=Model.Organizers>
                                    <option disabled selected value="-1">Please select Status</option>
                                </select>
                                <span asp-validation-for=Event.Organizer.Id class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.IsCpdevent class="control-label">CPD Event</label>
                                <select asp-for=Event.IsCpdevent class="form-control form-input custom-select" id="cpd">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for=Event.IsCpdevent class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.IsChargableEvent class="control-label">Chargeable Event</label>
                                <select asp-for=Event.IsChargableEvent class="form-control form-input custom-select" id="charge">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for=Event.IsChargableEvent class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.InternalOrExternal class="control-label">Event Category</label>
                                <select asp-for=Event.InternalOrExternal class="form-control form-input custom-select" id="category">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Internal">Internal</option>
                                    <option value="External">External</option>
                                </select>
                                <span asp-validation-for=Event.InternalOrExternal class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.Address.Id class="control-label">Event Address</label>
                                <select class="form-control form-input" id="address" asp-for=Event.Address.Id
                                        asp-items=Model.Addresses>
                                    <option disabled selected value="-1">Please select Event Venue</option>
                                </select>
                                <span asp-validation-for=Event.Address.Id class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.TimeZone.Id class="control-label">TimeZone</label>
                                <select class="form-control form-input" id="timeZone" asp-for=Event.TimeZone.Id
                                        asp-items=Model.TimeZones>
                                    <option disabled selected value="-1">Please select Time Zone</option>
                                </select>
                                <span asp-validation-for=Event.Organizer.Id class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.StartDate class="control-label">Event Start Date</label>
                                <input asp-for=Event.StartDate type="date" class="form-control form-input" id="startDate">
                                <span asp-validation-for=Event.StartDate class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.EndDate class="control-label">Event End Date</label>
                                <input asp-for=Event.EndDate type="date" class="form-control form-input" id="endDate">
                                <span asp-validation-for=Event.EndDate class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.StartTime class="control-label">Event Start Time</label>
                                <input asp-for=Event.StartTime type="time" class="form-control form-input" id="startTime">
                                <span asp-validation-for=Event.StartTime class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.EndTime class="control-label">Event End Time</label>
                                <input asp-for=Event.EndTime type="time" class="form-control form-input" id="endTime">
                                <span asp-validation-for=Event.EndTime class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.RegStartDate class="control-label">Registration Start Date</label>
                                <input asp-for=Event.RegStartDate type="date" class="form-control form-input" id="regStartDate">
                                <span asp-validation-for=Event.RegStartDate class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.RegEndDate class="control-label">Registration End Date</label>
                                <input asp-for=Event.RegEndDate type="date" class="form-control form-input" id="regEndDate">
                                <span asp-validation-for=Event.RegEndDate class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.RegStartTime class="control-label">Registration Start Time</label>
                                <input asp-for=Event.RegStartTime type="time" class="form-control form-input" id="regStartTime">
                                <span asp-validation-for=Event.RegStartTime class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.RegEndTime class="control-label">Registration End Time</label>
                                <input asp-for=Event.RegEndTime type="time" class="form-control form-input" id="regEndTime">
                                <span asp-validation-for=Event.RegEndTime class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.AllowRegistration class="control-label">Allow Registration</label>
                                <select asp-for=Event.AllowRegistration class="form-control form-input custom-select" id="allowReg">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for=Event.AllowRegistration class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.MaxRegistrationsAllowed class="control-label">Maximum Registration</label>
                                <input asp-for=Event.MaxRegistrationsAllowed type="number" class="form-control form-input" id="maxReg">
                                <span asp-validation-for=Event.MaxRegistrationsAllowed class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.ShowMaxRegistrationsAllowed class="control-label">Show Max. Registration</label>
                                <select asp-for=Event.ShowMaxRegistrationsAllowed class="form-control form-input custom-select" id="showMaxReg">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for=Event.ShowMaxRegistrationsAllowed class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.AllowGuestRegistrations class="control-label">Allow Guest Registration</label>
                                <select asp-for=Event.AllowGuestRegistrations class="form-control form-input custom-select" id="guestReg">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for=Event.AllowGuestRegistrations class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.GuestLimitPerRegistrant class="control-label">Guest Limit Per Registrant</label>
                                <input asp-for=Event.GuestLimitPerRegistrant type="number" class="form-control form-input" id="guestLimit">
                                <span asp-validation-for=Event.GuestLimitPerRegistrant class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.AllowCancellations class="control-label">Allow Cancellation</label>
                                <select asp-for=Event.AllowCancellations class="form-control form-input custom-select" id="allowCancel">
                                    <option disabled selected value="-1">Choose...</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                                <span asp-validation-for=Event.AllowCancellations class="text-danger"></span>
                            </div>

                            <div class="form-group mb-4">
                                <label asp-for=Event.CancellationbeforeDays class="control-label">Cancellation Limit days</label>
                                <input asp-for=Event.CancellationbeforeDays type="number" class="form-control form-input" id="cancelLimit">
                                <span asp-validation-for=Event.CancellationbeforeDays class="text-danger"></span>
                            </div>





                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-3 text-right">
                            <input type="submit" value="Add" class="btn btn-outline-success" id="modal-create-edit" />
                        </div>
                        <div class="col-2  text-right ">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- #endregion AddEditModalSection-->
<!-- #region DeleteModalRegion -->

<div class="modal" style="min-width:500px" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered   modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="DeleteForm" onsubmit="return Delete()">

                <div class="modal-header">
                    <h5 class="modal-title" id="DeleteModalLabel">Are you sure you want to delete?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="reg-container row">
                        <div class="col-12">
                            <input type="hidden" id="id_Del" />
                            <dl class="row">
                                <dt class="col-sm-3">
                                    <label asp-for=Event.EventUniqueName class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="name_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=Event.Title class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="title_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=Event.Organizer.Id class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="organizer_Del"></label>
                                </dd>
                                <dt class="col-sm-3">
                                    <label asp-for=Event.StartDate class="control-label"></label>
                                </dt>
                                <dd class="col-sm-9">
                                    <label id="date_Del"></label>
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row w-100">
                        <div class="col-6">
                            &nbsp;
                        </div>
                        <div class="col-3 text-right">
                            <input type="submit" value="Delete" class="btn btn-outline-danger" />
                        </div>
                        <div class="col-2  text-right ">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- #endregion DeleteModalRegion -->
<!-- #region ToholdGrid -->

<partial name="_CRUDHeader" , model='new Header{name="Manage Events", description="Here you can manage Events of your organization"}'>
    <div class="container">
        <div class="reg-container row">
            <!--  Personal -->
            <div class="col-12">
                <div class="card shadow-sm">
                    <partial name="_CardHeaderPartial" , model='new Header{name="Event"}'>
                        <div class="card-body reg-card-body">
                            <div class="row">
                                <div class="col-3 text-left pb-3">
                                    <input value="Add New" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#AddEditModal" onclick="SetUpPopupToAddRecord()">
                                </div>
                                <div class="col-9 text-left pb-3">
                                </div>
                            </div>
                            <table id="list" class="table" style="width:100%">
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <!-- #endregion ToholdGrid-->

    <script>

        var dataTable;

        $(document).ready(function () {


            $('#list').show();
            dataTable = $('#list').DataTable({
                fixedHeader: true,
                pageLength: 10,
                ajax: {
                    url: '?handler=List',
                    dataSrc: ''
                },
                //"initComplete": function (settings, json) {
                //    console.log(json);
                //},

                "columns": [
                    { title: "Name", data: "eventUniqueName", "autoWidth": true, },
                    { title: "Title", data: "title", "autoWidth": true, },
                    { title: "Category", data: "internalOrExterrnal", "autoWidth": true, },
                    { title: "Start Date", data: "startDate", "autoWidth": true, },
                    { title: "Registration Allowed", data: "allowRegistration", "autoWidth": true, },


                    {
                        title: "Action",
                        data: "id",
                        "render": function (data, type, row, meta) {
                            {
                                return '<a class="btn btn-outline-primary btn-sm mr-3" href="#" data-toggle="modal" data-target="#AddEditModal" onClick="SetUpPopupToEditRecord(' + row.id + ')" ><i class="fas fa-edit mr-10"></i>&nbsp;Edit</a>&nbsp;' +
                                    '<a class="btn btn-outline-danger btn-sm" href="#" data-toggle="modal"  data-target="#DeleteModal" onClick="SetUpPopupToDeleteRecord(' + '\'' + row.id + ';' + row.eventUniqueName + ';' + row.title + ';' + row.startDate + '\'' + ')" ><i class="fas fa-trash mr-10"></i>&nbsp;Delete</a> ';
                            }
                        },
                        orderable: false,
                        width: "150px"
                    }
                ]
            });

        });

        function SetUpPopupToAddRecord() {
            $('#AddEditModalLabel').text("Add New Event");
            $('#modal-create-edit').val("Add")
            $('#id').val(0);
            $('#name').val("");
            $('#title').val("");
            $('#description').val("");
            $('#organizer').val('-1').change();
            $('#cpd').val('-1').change();
            $('#charge').val('-1').change();
            $('#category').val('-1').change();
            $('#address').val('-1').change();
            $('#timeZone').val('-1').change();
            $('#startDate').val("");
            $('#endDate').val("");
            $('#startTime').val("");
            $('#endTime').val("");
            $('#regStartDate').val("");
            $('#regEndDate').val("");
            $('#regStartTime').val("");
            $('#regEndTime').val("");
            $('#allowReg').val('-1').change();
            $('#maxReg').val("");
            $('#showMaxReg').val('-1').change();
            $('#guest').val('-1').change();
            $('#guestLimit').val("");
            $('#allowCancel').val('-1').change();
            $('#cancelLimit').val("");

            //$("acraisedByTypeId").prop('selectedIndex', 0);
        }

        function SetUpPopupToEditRecord(id) {
            $('#AddEditModalLabel').text("Edit Event")
            $('#modal-create-edit').val("Update")
            $.ajax({
                url: '?handler=SelectedRecord&id=' + id,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    //console.log(data);
                    $('#id').val(data.id);
                    $('#name').val(data.eventUniqueName);
                    $('#title').val(data.title);
                    $('#description').val(data.description);
                    $('#organizer').val(data.organizerName);
                    $('#cpd').val(data.isCpdevent);
                    $('#charge').val(data.isChargableEvent);
                    $('#category').val(data.internalOrExternal);
                    $('#address').val(data.addressId);
                    $('#timeZone').val(data.timeZoneId);
                    $('#startDate').val(data.startDate);
                    $('#endDate').val(data.endDate);
                    $('#startTime').val(data.startTime);
                    $('#endTime').val(data.endTime);
                    $('#regStartDate').val(data.regStartDate);
                    $('#regEndDate').val(data.regEndDate);
                    $('#regStartTime').val(data.regStartTime);
                    $('#regEndTime').val(data.regEndTime);
                    $('#allowReg').val(data.allowRegistration);
                    $('#maxReg').val(data.maxRegistrationsAllowed);
                    $('#showMaxReg').val(data.showMaxRegistrationsAllowed);
                    $('#guest').val(data.allowGuestRegistrations);
                    $('#guestLimit').val(data.guestLimitPerRegistrant);
                    $('#allowCancel').val(data.allowCancellations);
                    $('#cancelLimit').val(data.cancellationbeforeDays);


                }
            });
        }

        function SetUpPopupToDeleteRecord(data) {
            var dataarray = data.split(";")
            $('#id_Del').val(dataarray[0]);
            $('#name_Del').text(dataarray[1]);
            $('#title_Del').text(dataarray[2]);
            $('#organizer_Del').text(dataarray[3]);
            $('#date_Del').text(dataarray[4]);

        }

        $('#AddEditModal').on('shown.bs.modal', function () {
            setTimeout(function () {
                $('#eventUniqueName').focus();
            }, 400);
        })

        function Delete() {
            var id = $('#id_Del').val();
            $.ajax({
                url: '?handler=Delete&id=' + id,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                    $('#DeleteModal').modal('hide');
                    dataTable.ajax.reload();
                    if (data.success) {
                        MMNotify(data.message, "success");
                    }
                    else {
                        MMNotify(data.message, "danger");
                    }
                }
            });
            return false;
        }

        function Save(form) {
            if ($(form).valid()) {
                $.post({
                    url: '?handler=Save',
                    dataType: 'json',
                    data: $(form).serialize(),
                })
                    .done(function (data) {
                        $('#AddEditModal').modal('hide');
                        $('#id').val(0);
                        $('#name').val("");
                        $('#title').val("");
                        $('#description').val("");
                        $('#organizer').val("");
                        $('#cpd').val("");
                        $('#charge').val("");
                        $('#category').val("");
                        $('#address').val("");
                        $('#timeZone').val("");
                        $('#startDate').val("");
                        $('#endDate').val("");
                        $('#startTime').val("");
                        $('#endTime').val("");
                        $('#regStartDate').val("");
                        $('#regEndDate').val("");
                        $('#regStartTime').val("");
                        $('#regEndTime').val("");
                        $('#allowReg').val("");
                        $('#maxReg').val("");
                        $('#showMaxReg').val("");
                        $('#guest').val("");
                        $('#guestLimit').val("");
                        $('#allowCancel').val("");
                        $('#cancelLimit').val("");

                        if (data.success) {
                            MMNotify(data.message, "success");
                        }
                        else {
                            $('#AddEditModal').modal('hide');
                            MMNotify(data.message, "danger");
                        }
                        dataTable.ajax.reload();
                    })
                    .fail(function (error) {
                        MMNotify("Unknown error", "danger");
                    });
            }
            return false;
        }

    </script>


