@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{ Layout = "_LayoutClient";}
    <div class="jumbotron bg-white" style="background-image: url(../images/wisa-jumbo.jpg)">

        <div class="row" style="min-height: 400px;">
            <div class="row">
                <div class="col-4">
                    &nbsp;
                </div>
                <div class="col-4">
                    &nbsp;
                </div>
                <div class="col-4">
                    &nbsp;
                </div>
            </div>
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col-3 text-left">
                <h1 class="text-left">WISA</h1>
            </div>
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-4">
                &nbsp;
            </div>
        </div>



        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                &nbsp;
            </div>

            <div class="col-4">
                <p class="lead text-light">
                    <br />Inspiring Passion for Water.
                </p>
            </div>
        </div>

    </div>
<div class="container  pl-0 pr-0">
    <main role="main" class="pb-3">
        <section class="why-choose-us-area section-padding-80-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Membership</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5">
                        <div class="choose-us-thumbnail mt-30 mb-80">
                            <img src="" />
                            <div class="choose-us-img bg-img choose-us-image" style="background-image: url(images/team.jpg);"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <p>
                                WISA subscribes to a multi-disciplinary approach for its sector and our members are from various backgrounds and disciplines. The various categories of membership cater for the needs of all professionals involved in the water sector. The Institute offers both individual and non-individual membership. WISA assesses applicants based on the requisite experience, qualifications and skills in order to determine whether they may join the institute and under which membership category they should be admitted. WISA Members enjoy access to industry news, reports, sector updates, career information, jobs, events, networking opportunities and publications.
                            </p>
                        </div>
                        <!-- Choose Us Content -->
                        <div class="choose-us-content mt-30 mb-80">
                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
    </div>
    