@page
@model RegisterOldModel
@using MM.Helper;
@{
    ViewData["Title"] = "Register";
}

<partial name="_CRUDHeader" , model='new Header{name="Register", description="Register by adding your organization details and your user details"}'>
    <!--  Register Content  -->
    <div class="reg-container row">
        <!--  Personal -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow-sm" style="min-height:550px;margin-top:10px;margin-bottom:10px">
                <div class="card-header">
                    <span>
                        Personal Details
                    </span>

                </div>

                <div class="card-body reg-card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control form-input" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-input" placeholder="Middle Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control form-input" placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control form-input" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control form-input" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <select class="form-control form-input">
                                <option value="" class="first-sel-opt">Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control form-input">
                                <option value="">Primary Contact</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control form-input">
                                <option value="">Billing Contact</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / Personal -->
        <!--  Organization -->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card shadow-sm" style="min-height:550px;margin-top:10px;margin-bottom:10px">
                <div class="card-header">
                    <span>
                        Organization Details
                    </span>

                </div>

                <div class="card-body reg-card-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control form-input" placeholder="Organization Name">
                        </div>

                        <div class="form-group">
                            <select class="form-control form-input">
                                <option value="">Organization Type</option>
                                <option value="Association">Association</option>
                                <option value="Club">Club</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <select class="form-control form-input">
                                <option value="">Your Designation</option>
                                <option value="CEO">CEO</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Member Count</option>
                                        <option value="Min-100">Min-100</option>
                                        <option value="101-200">101-200</option>
                                        <option value="201-Max">201-Max</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Currency</option>
                                        <option value="zar">ZAR (SA Rand)</option>
                                        <option value="inr">INR (Indian Rupee)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Country</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="India">India</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Time Zone</option>
                                        <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">
                                            (GMT+02:00)
                                            Harare, Pretoria
                                        </option>
                                        <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0"
                                                value="5.5">
                                            (GMT+05:30)
                                            Chennai, Kolkata, Mumbai, New Delhi
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Province / State</option>
                                        <option value="Gauteng">Gauteng</option>
                                        <option value="NewDelhi">New Delhi</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">City</option>
                                        <option value="Sandton">Sandton</option>
                                        <option value="Noida">Noida</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Date Format</option>
                                        <option value="MM-DD-YYYY">MM/DD/YYYY (12/25/2000)</option>
                                        <option value="DD-MM-YY">DD/MM/YYYY (25/12/2000)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <select class="form-control form-input">
                                        <option value="">Time Format</option>
                                        <option value="12Hrs">12 Hrs (10:10 PM)</option>
                                        <option value="24Hrs">24 Hrs (22:10 PM)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control form-input" rows="1" placeholder="Notes"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <!-- / Organization -->
        </div>
        
        <div class="row reg-footer mr-5">
            <input type="checkbox">
            <a href="" class="ml-2 mr-4">I agree to the terms and conditions.</a>
            <button type="submit" class="form-btn" style="width: 10%;">Submit</button>
        </div>
    
    </div>