@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron bg-white">
    
    <div class="row" style="min-height: 400px;">
        <div class="row">
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-4">
                &nbsp;
            </div>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-3 text-left">
            <h3 class="text-left">Most Advanced Membership Management that is easy to use</h3>
        </div>
        <div class="col-4">
            &nbsp;
        </div>
        <div class="col-4">
            &nbsp;
        </div>
    </div>

  

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                &nbsp;
            </div>

            <div class="col-4">
                <p class="lead">
                    <br />Now you can automate and simplify membership tasks for yourself, your members, volunteers, and board.
                </p>
            </div>
        </div>
    
</div>

<div class="container-fluid  pl-0 pr-0">
    <main role="main" class="pb-3">
        <section class="why-choose-us-area section-padding-80-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Why Choose Us</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-5">
                        <div class="choose-us-thumbnail mt-30 mb-80">
                            <img src="" />
                            <div class="choose-us-img bg-img choose-us-image" style="background-image: url(images/team.jpg);"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <p>
                                We’re changing the landscape of professional membership management solutions. With us you can connect with your members like never before.
                            </p>
                        </div>
                        <!-- Choose Us Content -->
                        <div class="choose-us-content mt-30 mb-80">
                            <ul>
                                <li>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> We focus on great features and latest technology
                                </li>
                                <li>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> A Wide Spectrum Of Skills And Experience.
                                </li>
                                <li>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> Fast Response To Requests &amp; Critical Response Time Guaranteed.
                                </li>
                                <li>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i> We Help Solve Your Business Problems.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <div class="border-top mt-3"></div>
        </div>

        <!-- features Area Start -->

        <section class="features section-padding-80-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Our Features</h2>
                            <p>Core features provided by our system</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s1.png" alt="" />
                            <h5>Member Database</h5>
                            <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s2.png" alt="" />
                            <h5>Event Management</h5>
                            <p>Nemo enim ipsam voluptatem quia voluptas</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s3.png" alt="" />
                            <h5>Email Templates</h5>
                            <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s4.png" alt="" />
                            <h5>Custom Fields</h5>
                            <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s5.png" alt="" />
                            <h5>Free for 200 Members</h5>
                            <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s6.png" alt="" />
                            <h5>Theming</h5>
                            <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s7.png" alt="" />
                            <h5>Offline Features</h5>
                            <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                        </div>
                    </div>

                    <!-- single-feature Area -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-feature-area mb-80">
                            <img src="images/features/s8.png" alt="" />
                            <h5>Payments</h5>
                            <p>Consectetur adipisicing elit, sed doe eiusmod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features Area end -->

        <div class="container-fluid">
            <div class="border-top mt-3"></div>
        </div>

        <section class="section-heading section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>What our Clients say</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="Testimonials-area">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12 col-lg-6">
                        <div class="section-heading text-right mb-80 pr-5 pt-3">
                            <h2>Great Product</h2>
                            <span>Testimonials</span>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div class="Testimonials mb-80">
                            <p>
                                Because our club is short-staffed, Membership Manager has been a lifesaver! It saves me over 20 hours a week and their support has been fantastic!
                            </p>
                            <h4>Webmaster, budget and Finance</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid">
            <div class="border-top mt-3"></div>
        </div>

        <section class="try-us-out section-padding-80">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>Try us Out</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Form -->
                        <form action="#" method="post" class="form-style border-0 p-0">
                            <div class="row">
                                <div class="col-lg-5">
                                    <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name" />
                                </div>
                                <div class="col-lg-5">
                                    <input type="email" name="message-email" class="form-control mb-30" placeholder="Email" />
                                </div>
                                <div class="col-2 text-center">
                                    <button type="submit" class="form-btn mt-1 active">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
