@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}

<!--  Login Content  -->

<div class="login-container">
    <div class="card login-card shadow-sm">

        <div class="card-header">
            <span>
                SIGN IN
            </span>

        </div>

        <div class="card-body">
            <form method="post" class="pt-4">
                <div asp-validation-summary="All"></div>

                <div class="form-group mb-4">
                    <label asp-for="ClientUser.Email"></label>
                    <input type="text" class="form-control form-input" asp-for="ClientUser.Email" />
                    <span asp-validation-for="ClientUser.Email"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ClientUser.Password"></label>
                    <input type="password" class="form-control form-input" asp-for="ClientUser.Password" />
                    <span asp-validation-for="ClientUser.Password"></span>
                </div>

                <div>
                    <label asp-for="ClientUser.RememberMe">
                        <input asp-for="ClientUser.RememberMe" />
                        @Html.DisplayNameFor(m => m.ClientUser.RememberMe)
                    </label>
                </div>

                <div class="text-center pt-5">
                    <button type="submit" class="form-btn mb-5">Log in</button>
                </div>
                <div class="text-center pt-3 pb-3">
                    <span style="color: black;">
                        Forgot
                    </span>

                    <a href="#">
                        Username / Password?
                    </a>
                </div>

            </form>
        </div>

        <div>
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <span>Don’t have an account?</span> <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>

        <div class="card-footer">
            <span>Don’t have an account?</span>
            <a href="Register" style="color: #00131a;">
                Sign up now
            </a>
        </div>
    </div>
</div>


